* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --spoty-upgrade:#000000e8;
    --spoty-left-col:#000000;
    --spoty-footer:#282828;
    --spoty-text-strong:#a3a3a3;
    --spoty-secondary:#ffffff;
    --spoty-col-main:#141922
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* common rules */

.row {
    display: flex;
    height: 100%;
}

.direction-column {
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.color-secondary {
    color: var(--spoty-secondary);
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--spoty-text-strong);
}

.height-100 {
    height: 100%;
}

.font-small  {
    font-size: 10px;
}

.font13 {
    font-size: 13px;
}

.relative {
    position: relative;
}


/* padding rules */

.p-05 {
    padding: 0.5rem;
}

.py-05 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pb-05 {
    padding-bottom: 0.5rem;
}

.pr-05 {
    padding-right: 0.5rem;
}

.pl-05 {
    padding-left: 0.5rem;
}

.pt-1 {
    padding-top: 1rem;
}

.p-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.pr-1_5 {
    padding-right: 1.5rem;
}

.pl-1_5 {
    padding-left: 1.5rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}


.pl-5 {
    padding-left: 5px;
}


.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}


/* main container */

.main_container {
    height: calc(100vh - 80px);
}

/* col side bar */

.col_side_bar {
    color: var(--spoty-text-strong);
    width: 225px;
    background-color: var(--spoty-left-col);
    height: 100%;
}

/* side bar small section */

.col_side_bar_sm {
    width: 100%;
    padding: 0.5rem 1rem;
}

.avatar_item {
    padding: 4px;
    border-radius: 50%;
    background-color: gray;
    width: 30px;    
}

.spotify_logo {
    width: 150px;
    padding-left: 1rem;
}

.d-none-601 {
    display: none;
}

.installa_app hr {
    width: 90%;
}

/* side bar main section */

.col_side_bar_main {
    width: 100%;
    padding-right: 10px;
}

.home_section div {
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.home_section img  {
    width: 25px;
}

.border_left {
    border-left: 2px solid lightgreen;
}

.playlist_section div {
    padding-top: 1.5rem;
    font-size: 13px;
}

.plus_item {
    color: #000000;
    padding: 0.5rem;
    background-color: #a3a3a3;
    font-size: 20px;
}

.font-size-10 {
    font-size: 10px;
}

/* col main */

.col_main {
    color: var(--spoty-text-strong);
    background-color: var(--spoty-col-main);
    width: calc(100% - 225px);
    height: 100%;
    overflow: auto;
}

/* effettua l upgrade */

.effettua_upgrade {
    background-color: var(--spoty-upgrade);
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;
}

.effettua_upgrade_button {
    padding: 1rem;
}

.effettua_upgrade_button button {
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.8rem 2.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* nav section */

.nav_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.border {
    border-bottom: 2px solid lightgreen;
    width: 50%;
}

.in_evidenza {
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.nav_container div {
    padding-right: 1rem;
    padding-top: 1rem;
}

/* playlist section */

.container_playlist {
    padding: 2rem 1rem;
}

.img {
    cursor: pointer;
}

.img img {
    max-width: 100%;
}

.img:hover img {
    filter: opacity(0.5);
}

.layover {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    font-size: 50px;
    color: var(--spoty-secondary);
    display: none;
}

.img:hover .layover {
    display: block;
}

.card_playlist {
    width: calc(100% / 6 - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.card_playlist .img {
    width: 100%;
    aspect-ratio: 1;
}

.card_playlist .gender_music {
    padding: 0.5rem 0;
    text-align: center;
}

.card_playlist .subtitle {
    text-align: center;
    font-size: 15px;
}

.popolari img {
    border-radius: 50%;
}



/* footer */

footer {
    background-color: var(--spoty-footer);
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    position: fixed;
}

.col_footer_sm {
    height: 100%;
    width: 260px;
}

.col_footer_bg {
    width: calc(80% - 1.5rem);
    display: flex;
    justify-content: center;
    height: 100%;
}

.nome_brano {
    display: flex;
    align-items: center;
    padding: 1rem 0.5rem;
}

.brano_nome_footer:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--spoty-secondary);
}

.nome_brano img {
    width: 50px;
}

.nome_brano_text {
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.like {
    display: flex;
}

.like i:hover {
    color: var(--spoty-secondary);
}

.container_col_footer_big {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.audio_commands {
    display: flex;
    min-width: 200px;
    justify-content: space-between;    
}

.audio_commands a {
    color: var(--spoty-secondary);
    font-size: 25px;
}

.audio_vol_big {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inside_volume_bar {
    background-color: blue;
    height: 3px;
    width: 90%;
}

.audio_vol_big strong {
    padding: 0 1rem;
}

.volume_bar {
    height: 3px;
    background-color: #5a5a5a;
    width: 60%;
}

.volume_bar_fix {
    height: 3px;
    background-color: #5a5a5a;
    width: 100px;
}

.vol_bar_inside {
    height: 3px;
    width: 25%;
    background-color: #c1c1c1;
}

.container_right_col_footer {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin-right: 0.5rem;
}

.container_right_col_footer a {
    padding-right: 0.5rem;
}















/* start media rules */


@media screen and (max-width: 1099px) {
    .card_playlist {
        width: calc(100% / 4 - 1rem);
    }
}

@media screen and (max-width: 990px) {
    .like {
        flex-direction: column;
        justify-content: center;
    }

    .like i {
        padding: 3px 0.5rem;
    }
}


@media screen and (max-width: 699px) {
    .card_playlist {
        width: calc(100% / 2 - 1rem);
    }
    .audio_vol_big {
        width: 70%;
       }
}


@media screen and (max-width: 600px) {

    .col_main {
        width: 100%;
    }
    .like {
        padding-left: 1rem;
    }
    /* side bar */


    .col_side_bar {
        width: 50px;
        padding: 0;
    }

    .nav_container {
        width: 100%;
    }

    .d-none-600 {
        display: none;
    }

    .home_section div {
        padding-left: 0;
    }

    .home_section .pl-1 {
        padding-left: 0;
    }

    .home_section .d-none-600 {
        display: none;
    }

 

    .d-none-601 {
        display: block;
        width: 100%;
        
    }
    
   .col_side_bar_sm div {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   .col_side_bar_sm .d-none-600 {
    display: none;
   }

   .p-0-600 {
    padding: 0;
   }

   .col_side_bar .col_side_bar_main {
    padding: 0;
   }

   .col_side_bar_main .spotify_logo {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
   }

   .center-600-view {
    width: 100%;
    justify-content: center;
    display: flex;
   }

   .audio_vol_big {
    width: 60%;
   }
}

